@mixin breakpoint($name) {
  @if $name == “phone” {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $name == “tablet” {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $name == “desktop” {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $name == “monitor” {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  @include breakpoint(“phone”) {
    flex-direction: column;
  }
  @include breakpoint(“tablet”) {
    flex-direction: column;
  }
  @include breakpoint(“desktop”) {
    
  }
  @include breakpoint(“monitor”) {
    
  }
}
